.admin-child {
    position: absolute;
    top: 259px;
    left: 310px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border: 10px solid var(--color-dimgray);
    box-sizing: border-box;
    width: 1301px;
    height: 583px;
  }
  .admin-password {
    border: 0;
    font-family: var(--font-georgia);
    font-size: var(--font-size-5xl);
    background-color: transparent;
    position: absolute;
    top: calc(50% - 13.5px);
    left: 30px;
    color: var(--color-dimgray);
    text-align: left;
  }
  .admin-password-wrapper,
  .component-4-1-child {
    border-radius: var(--br-8xs);
    box-sizing: border-box;
  }
  .admin-password-wrapper {
    position: absolute;
    top: 491px;
    left: 590px;
    background-color: var(--color-white);
    border: 2px solid var(--color-black);
    width: 740px;
    height: 51px;
  }
  .component-4-1-child {
    background-color: var(--color-darkgray-100);
    border: 2px solid var(--color-dimgray);
  }
  .component-4-1,
  .component-4-1-child {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .login {
    position: absolute;
    top: calc(50% - 18.5px);
    left: calc(50% - 47.5px);
    font-size: var(--font-size-13xl);
    font-family: var(--font-georgia);
    color: var(--color-black);
    text-align: center;
    -webkit-text-stroke: 1px #707070;
  }
  .component-1-6 {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    position: absolute;
    top: 562px;
    left: 857px;
    width: 206px;
    height: 47px;
  }
  .admin {
    position: relative;
    width: 1920px;
    height: 1100px;
    max-width: 90%;
    max-height: 90%;
    overflow: auto;
  }
  