.billing-information,
.cart1,
.purchase-information {
  margin: 0;
  position: absolute;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
}
.cart1 {
  top: 128px;
  left: 720px;
  font-size: var(--font-size-45xl);
  text-align: center;
  width: 481px;
}
.billing-information,
.purchase-information {
  left: 104px;
}
.purchase-information {
  top: 1151px;
  font-size: var(--font-size-29xl);
  width: 763px;
}
.billing-information {
  top: 1650px;
  font-size: 36px;
  width: 535px;
}
.name,
.price,
.quantity {
  position: absolute;
  top: 272px;
  left: 184px;
  display: inline-block;
  width: 316px;
}
.price,
.quantity {
  left: 1346px;
  width: 151px;
}
.price {
  left: 1154px;
  width: 98px;
}
.subtotal {
  top: 272px;
  right: 183px;
  width: 146px;
}
.first-name,
.subtotal,
.total {
  position: absolute;
  display: inline-block;
}
.total {
  top: 958px;
  left: 1424px;
  text-align: right;
  width: 146px;
}
.first-name {
  border: 0;
  font-family: var(--font-georgia);
  font-size: var(--font-size-5xl);
  background-color: transparent;
  width: calc(100% - 39px);
  top: calc(50% - 13.5px);
  left: 20px;
  color: var(--color-dimgray);
  text-align: left;
}
.first-name-wrapper,
.group-child {
  position: absolute;
  border-radius: var(--br-8xs);
  border: 2px solid var(--color-black);
  box-sizing: border-box;
  height: 51px;
}
.first-name-wrapper {
  top: 1245px;
  left: 104px;
  width: 353px;
}
.group-child {
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
}
.card-number,
.state {
  border: 0;
  font-family: var(--font-georgia);
  font-size: var(--font-size-5xl);
  background-color: transparent;
  position: absolute;
  color: var(--color-dimgray);
  text-align: left;
  display: inline-block;
}
.state {
  top: 0;
  left: calc(50% + 50px);
  width: 102px;
}
.card-number {
  width: calc(100% - 41px);
  bottom: 10px;
  left: 18px;
}
.rectangle-parent {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.cart-inner {
  position: absolute;
  top: 1541px;
  left: 103px;
  width: 740px;
  height: 240px;
}
.email {
  border: 0;
  font-family: var(--font-georgia);
  font-size: var(--font-size-5xl);
  background-color: transparent;
  position: absolute;
  top: calc(50% - 13.5px);
  left: 20px;
  color: var(--color-dimgray);
  text-align: left;
  display: inline-block;
  width: 574px;
}
.email-wrapper {
  position: absolute;
  top: 1316px;
  left: 104px;
  border-radius: var(--br-8xs);
  border: 2px solid var(--color-black);
  box-sizing: border-box;
  width: 740px;
  height: 51px;
}
.cardholder-name {
  border: 0;
  font-family: var(--font-georgia);
  font-size: var(--font-size-5xl);
  background-color: transparent;
  position: absolute;
  width: calc(100% - 41px);
  top: calc(50% - 13.5px);
  left: 20px;
  color: var(--color-dimgray);
  text-align: left;
  display: inline-block;
}
.cardholder-name-wrapper {
  position: absolute;
  top: 1801px;
  left: 103px;
  border-radius: var(--br-8xs);
  border: 2px solid var(--color-black);
  box-sizing: border-box;
  width: 740px;
  height: 51px;
}
.phone {
  border: 0;
  font-family: var(--font-georgia);
  font-size: var(--font-size-5xl);
  background-color: transparent;
  position: absolute;
  top: calc(50% - 13.5px);
  left: 20px;
  color: var(--color-dimgray);
  text-align: left;
  display: inline-block;
  width: 535px;
}
.phone-wrapper {
  position: absolute;
  top: 1387px;
  left: 104px;
  border-radius: var(--br-8xs);
  border: 2px solid var(--color-black);
  box-sizing: border-box;
  width: 740px;
  height: 51px;
}
.address {
  border: 0;
  font-family: var(--font-georgia);
  font-size: var(--font-size-5xl);
  background-color: transparent;
  position: absolute;
  width: calc(100% - 45px);
  top: calc(50% - 13.5px);
  left: 20px;
  color: var(--color-dimgray);
  text-align: left;
  display: inline-block;
}
.address-wrapper {
  position: absolute;
  top: 1458px;
  left: 104px;
  border-radius: var(--br-8xs);
  border: 2px solid var(--color-black);
  box-sizing: border-box;
  width: 740px;
  height: 51px;
}
.city {
  border: 0;
  font-family: var(--font-georgia);
  font-size: var(--font-size-5xl);
  background-color: transparent;
  position: absolute;
  width: calc(100% - 37px);
  top: calc(50% - 13.5px);
  left: 20px;
  color: var(--color-dimgray);
  text-align: left;
  display: inline-block;
}
.cart-child,
.city-wrapper {
  border-radius: var(--br-8xs);
  border: 2px solid var(--color-black);
  box-sizing: border-box;
  height: 51px;
}
.city-wrapper {
  position: absolute;
  top: 1529px;
  left: 104px;
  width: 379px;
}
.cart-child {
  bottom: 348px;
  left: 103px;
  width: 117px;
}
.cart-child,
.cart-item,
.ccv {
  position: absolute;
}
.cart-item {
  top: 1529px;
  left: 503px;
  border-radius: var(--br-8xs);
  border: 2px solid var(--color-black);
  box-sizing: border-box;
  width: 135px;
  height: 51px;
}
.ccv {
  border: 0;
  font-family: var(--font-georgia);
  font-size: var(--font-size-5xl);
  background-color: transparent;
  top: calc(50% - 13.5px);
  left: 22px;
  color: var(--color-dimgray);
  text-align: left;
}
.ccv-wrapper {
  position: absolute;
  bottom: 348px;
  left: 408px;
  border-radius: var(--br-8xs);
  border: 2px solid var(--color-black);
  box-sizing: border-box;
  width: 168px;
  height: 51px;
}
.yyyy {
  border: 0;
  font-family: var(--font-georgia);
  font-size: var(--font-size-5xl);
  background-color: transparent;
  position: absolute;
  top: calc(50% - 13.5px);
  left: 21px;
  color: var(--color-dimgray);
  text-align: left;
}
.group-div,
.yyyy-wrapper {
  position: absolute;
  border-radius: var(--br-8xs);
  border: 2px solid var(--color-black);
  box-sizing: border-box;
  height: 51px;
}
.yyyy-wrapper {
  bottom: 348px;
  left: 240px;
  width: 148px;
}
.group-div {
  top: 1529px;
  left: 658px;
  width: 186px;
}
.zip-code {
  border: 0;
  font-family: var(--font-georgia);
  font-size: var(--font-size-5xl);
  background-color: transparent;
  position: absolute;
  width: calc(100% - 19px);
  top: calc(50% - 13.5px);
  left: 20px;
  color: var(--color-dimgray);
  text-align: left;
  display: inline-block;
}
.zip-code-wrapper {
  position: absolute;
  bottom: 348px;
  left: 596px;
  border-radius: var(--br-8xs);
  border: 2px solid var(--color-black);
  box-sizing: border-box;
  width: 294px;
  height: 51px;
}
.line-div {
  top: 315.5px;
  left: 174.5px;
  border-top: 3px solid var(--color-dimgray);
  box-sizing: border-box;
  width: 1568px;
  height: 6px;
}
.child,
.line-div,
.title {
  position: absolute;
}
.child {
  width: calc(100% + 1.5px);
  right: 0.5px;
  bottom: 0.5px;
  left: -2px;
  border-top: 2px solid var(--color-dimgray);
  box-sizing: border-box;
  height: 4px;
}
.title {
  height: 100%;
  top: 0;
  left: 0;
  width: 922px;
}
.input,
.title,
.xxxx {
  line-height: 32px;
  display: inline-block;
}
.xxxx {
  position: absolute;
  height: 100%;
  top: 0;
  left: calc(50% + 190.5px);
  width: 153px;
}
.input {
  border: 0;
  font-family: var(--font-georgia);
  font-size: var(--font-size-5xl);
  background-color: transparent;
  height: calc(100% - 14px);
  left: calc(50% + 392.5px);
  color: var(--color-black);
  text-align: left;
  width: 131px;
}
.input,
.item,
.xxxxxx {
  position: absolute;
  top: 0;
}
.xxxxxx {
  height: 100%;
  right: -1px;
  line-height: 32px;
  display: inline-block;
  width: 153px;
}
.item {
  left: calc(50% + 382.5px);
  border-radius: var(--br-8xs);
  border: 2px solid var(--color-dimgray);
  box-sizing: border-box;
  width: 150px;
  height: 36px;
}
.path-2-icon {
  position: absolute;
  bottom: 1.5px;
  left: calc(50% + 342px);
  width: 0;
  height: 0;
}
.div1,
.repeat-grid-3 {
  position: absolute;
  right: 0;
}
.div1 {
  width: 100%;
  bottom: 1px;
  left: 0;
  height: 50px;
}
.repeat-grid-3 {
  height: 100%;
  width: calc(100% - 6.5px);
  top: 0;
  bottom: 0;
  left: 6.5px;
}
.div {
  top: 0;
}
.div,
.div2,
.div4,
.div6 {
  position: absolute;
  width: calc(100% - 1.5px);
  right: 0.5px;
  left: 1px;
  height: 71.02px;
}
.div2 {
  top: 77px;
}
.div4,
.div6 {
  top: calc(50% - 151.01px);
}
.div6 {
  top: calc(50% - 74.01px);
}
.div8 {
  top: calc(50% + 2.99px);
}
.div10,
.div12,
.div14,
.div8 {
  position: absolute;
  width: calc(100% - 1.5px);
  right: 0.5px;
  left: 1px;
  height: 71.02px;
}
.div10 {
  top: calc(50% + 79.99px);
}
.div12,
.div14 {
  bottom: 77px;
}
.div14 {
  bottom: 0;
}
.repeat-grid-4,
.xxxxxxx {
  position: absolute;
  font-size: var(--font-size-5xl);
}
.repeat-grid-4 {
  top: 317.98px;
  left: 176.5px;
  width: 1567px;
  height: 610.02px;
}
.xxxxxxx {
  top: 963px;
  right: 176px;
  display: inline-block;
  width: 153px;
}
.cart-child1 {
  position: absolute;
  top: 1245px;
  left: 474px;
  border-radius: var(--br-8xs);
  border: 2px solid var(--color-black);
  box-sizing: border-box;
  width: 370px;
  height: 51px;
}
.image-icon {
  position: absolute;
  right: 0;
  bottom: 156px;
  width: 960px;
  height: 1035px;
  object-fit: cover;
}
.component-1-4-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--color-darkgray-100);
  border: 2px solid var(--color-dimgray);
  box-sizing: border-box;
}
.purchase {
  position: absolute;
  top: calc(50% - 18.5px);
  left: calc(50% - 77.5px);
  font-size: var(--font-size-13xl);
  font-family: var(--font-georgia);
  color: var(--color-black);
  text-align: center;
  -webkit-text-stroke: 1px #707070;
}
.component-1-4 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  bottom: 242px;
  left: 103px;
  width: 315px;
  height: 67px;
}
.group-item {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-darkgray-200);
  border: 1px solid var(--color-dimgray);
  box-sizing: border-box;
  width: 1920px;
  height: 83px;
}
.logo {
  position: absolute;
  top: 14px;
  left: 58px;
}
.path-1-icon,
.path-2-icon8 {
  position: absolute;
  top: 40.28px;
  left: 12.84px;
  width: 14.33px;
  height: 14.33px;
}
.path-2-icon8 {
  left: 42.64px;
}
.icon-feather-shopping-cart,
.path-3-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 57.97px;
  height: 41.45px;
}
.icon-feather-shopping-cart {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 14.33px;
  left: 1836.65px;
  height: 54.6px;
}
.icon-material-home,
.icon-material-restaurant-menu {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-white);
  position: absolute;
  top: 14.33px;
  left: 1749.2px;
  width: 57.79px;
  height: 54.88px;
}
.icon-material-home {
  left: 1657.52px;
  width: 62.02px;
  height: 52.71px;
}
.rectangle-group,
.restock-page {
  position: absolute;
  color: var(--color-white);
}
.rectangle-group {
  top: 0;
  left: 0;
  width: 1920px;
  height: 83px;
  font-size: var(--font-size-29xl);
}
.restock-page {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: calc(50% + 24.13px);
  left: calc(50% - 84px);
  font-size: var(--font-size-5xl);
  font-weight: 700;
  font-family: var(--font-georgia);
  text-align: center;
  display: inline-block;
}
.icon-awesome-instagram {
  position: absolute;
  top: calc(50% - 51.13px);
  left: calc(50% - 119.63px);
  width: 54.44px;
  height: 54.43px;
}
.icon-awesome-twitter {
  position: absolute;
  top: calc(50% - 49.16px);
  left: calc(50% + 57.45px);
  width: 62.18px;
  height: 50.5px;
}
.icon-awesome-facebook-square {
  position: absolute;
  top: calc(50% - 51.11px);
  left: calc(50% - 31.08px);
  width: 54.41px;
  height: 54.41px;
}
.restock-page-parent {
  position: absolute;
  bottom: -4px;
  left: 0;
  background-color: var(--color-gray-100);
  border: 1px solid var(--color-dimgray);
  box-sizing: border-box;
  width: 1920px;
  height: 166px;
}
.last-name,
.zip-code1 {
  border: 0;
  font-size: var(--font-size-5xl);
  background-color: transparent;
  position: absolute;
  color: var(--color-dimgray);
  display: inline-block;
}
.last-name {
  font-family: var(--font-georgia);
  top: 1257px;
  left: 494px;
  text-align: left;
  width: 314px;
}
.zip-code1 {
  top: 1541px;
  left: 678px;
  width: 134px;
}
.cart,
.mm,
.zip-code1 {
  text-align: left;
  font-family: var(--font-georgia);
}
.mm {
  border: 0;
  font-size: var(--font-size-5xl);
  background-color: transparent;
  position: absolute;
  bottom: 360px;
  left: 119px;
  color: var(--color-dimgray);
  display: inline-block;
  width: 87px;
}
.cart {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 2271px;
  font-size: var(--font-size-13xl);
  color: var(--color-black);
}
.admin-child {
  position: absolute;
  top: 259px;
  left: 310px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  border: 10px solid var(--color-dimgray);
  box-sizing: border-box;
  width: 1301px;
  height: 583px;
}
.admin-password {
  border: 0;
  font-family: var(--font-georgia);
  font-size: var(--font-size-5xl);
  background-color: transparent;
  position: absolute;
  top: calc(50% - 13.5px);
  left: 30px;
  color: var(--color-dimgray);
  text-align: left;
}
.admin-password-wrapper,
.component-4-1-child {
  border-radius: var(--br-8xs);
  box-sizing: border-box;
}
.admin-password-wrapper {
  position: absolute;
  top: 491px;
  left: 590px;
  background-color: var(--color-white);
  border: 2px solid var(--color-black);
  width: 740px;
  height: 51px;
}
.component-4-1-child {
  background-color: var(--color-darkgray-100);
  border: 2px solid var(--color-dimgray);
}
.component-4-1,
.component-4-1-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.login {
  position: absolute;
  top: calc(50% - 18.5px);
  left: calc(50% - 47.5px);
  font-size: var(--font-size-13xl);
  font-family: var(--font-georgia);
  color: var(--color-black);
  text-align: center;
  -webkit-text-stroke: 1px #707070;
}
.component-1-6 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 562px;
  left: 857px;
  width: 206px;
  height: 47px;
}
.admin {
  position: relative;
  width: 1920px;
  height: 1100px;
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
}
