.component-4-1-item {
    border-radius: var(--br-8xs);
    background-color: var(--color-darkgray-100);
    border: 2px solid var(--color-dimgray);
    box-sizing: border-box;
  }
  .component-4-1-item,
  .component-4-11 {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .menu2 {
    position: absolute;
    top: calc(50% - 18.5px);
    left: calc(50% - 47.5px);
    font-size: var(--font-size-13xl);
    font-family: var(--font-georgia);
    color: var(--color-black);
    text-align: center;
    -webkit-text-stroke: 1px #707070;
  }
  .component-1-3 {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    position: absolute;
    top: 2005px;
    left: 58px;
    width: 315px;
    height: 67px;
  }
  .group-child1,
  .group-icon {
    position: absolute;
    width: 100%;
    right: 0;
    left: 0;
  }
  .group-icon {
    height: calc(100% - 86px);
    top: 0;
    bottom: 86px;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
  }
  .group-child1 {
    bottom: 0;
    background-color: var(--color-gray-100);
    border: 1px solid var(--color-dimgray);
    box-sizing: border-box;
    height: 86px;
  }
  .name1,
  .title8 {
    position: absolute;
    bottom: 46px;
    left: 14px;
  }
  .name1 {
    bottom: 8px;
    left: 13px;
  }
  .group-container,
  .group-parent {
    position: absolute;
    top: 0;
    width: 302px;
    height: 380px;
  }
  .group-parent {
    left: 0;
  }
  .group-container {
    left: calc(50% - 475px);
  }
  .group-parent1 {
    left: calc(50% - 153px);
  }
  .group-parent1,
  .group-parent2,
  .group-parent3 {
    position: absolute;
    top: 0;
    width: 302px;
    height: 380px;
  }
  .group-parent2 {
    left: calc(50% + 169px);
  }
  .group-parent3 {
    right: 4px;
  }
  .group-parent4,
  .group-parent5 {
    position: absolute;
    bottom: 13px;
    width: 302px;
    height: 380px;
  }
  .group-parent4 {
    left: 0;
  }
  .group-parent5 {
    left: calc(50% - 475px);
  }
  .group-parent6 {
    left: calc(50% - 153px);
  }
  .group-parent6,
  .group-parent7,
  .group-parent8 {
    position: absolute;
    bottom: 13px;
    width: 302px;
    height: 380px;
  }
  .group-parent7 {
    left: calc(50% + 169px);
  }
  .group-parent8 {
    right: 4px;
  }
  .repeat-grid-2 {
    position: absolute;
    top: 2347px;
    left: 163px;
    width: 1594px;
    height: 793px;
    font-size: var(--font-size-7xl);
    color: var(--color-white);
  }
  .home-page-child {
    position: absolute;
    top: 83px;
    left: 0;
    background-color: #ccc;
    border: 1px solid var(--color-dimgray);
    box-sizing: border-box;
    width: 1920px;
    height: 794px;
  }
  .home-page-item {
    top: 83px;
    left: 0;
    width: 1920px;
    height: 968px;
  }
  .home-page-item,
  .image-icon19,
  .image-icon20 {
    position: absolute;
    object-fit: cover;
  }
  .image-icon19 {
    top: 1051px;
    right: 0;
    width: 1102px;
    height: 1109px;
  }
  .image-icon20 {
    bottom: 164px;
    left: 0;
    width: 1080px;
    height: 1080px;
  }
  .home-page-inner {
    position: absolute;
    top: 447px;
    left: 0;
    background-color: rgba(156, 174, 169, 0.5);
    border: 1px solid var(--color-dimgray);
    box-sizing: border-box;
    width: 1920px;
    height: 240px;
  }
  .food-around-the {
    margin: 0;
    position: relative;
    top: 531px;
    left: 50%;
    font-size: var(--font-size-45xl);
    font-weight: 700;
    font-family: inherit;
    text-align: center;
    display: inline-block;
    width: 60vw;
  }
  .about-us {
    top: 1205px;
    left: 58px;
  }
  .about-us,
  .contact-us,
  .our-team {
    margin: 0;
    position: absolute;
    font-size: inherit;
    font-weight: 700;
    font-family: inherit;
    display: inline-block;
    width: 316px;
  }
  .our-team {
    top: 2253px;
    left: 50vw;
    text-align: center;
  }
  .contact-us {
    top: 3412px;
    left: 1122px;
  }
  .icon-awesome-angle-down {
    position: absolute;
    top: 3178.9px;
    left: 923.53px;
    width: 72.93px;
    height: 47.1px;
  }
  .lorem-ipsum-dolor {
    display: block;
  }
  .lorem-ipsum-dolor-container {
    margin: 0;
    position: absolute;
    top: 1287px;
    left: 58px;
    font-size: var(--font-size-5xl);
    line-height: 32px;
    display: inline-block;
    width: 741px;
    height: 646px;
  }
  .home-page-child1 {
    top: 2159px;
    left: -0.5px;
    border-top: 1px solid var(--color-dimgray);
    width: 1921px;
    height: 2px;
  }
  .group-child20,
  .home-page-child1,
  .home-page-child2 {
    position: absolute;
    box-sizing: border-box;
  }
  .home-page-child2 {
    top: 3239px;
    left: -1px;
    border-top: 1px solid var(--color-dimgray);
    width: 1921px;
    height: 2px;
  }
  .group-child20 {
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    border-radius: var(--br-8xs);
    border: 2px solid var(--color-black);
    height: 51px;
  }
  .email1 {
    border: 0;
    font-family: var(--font-georgia);
    font-size: var(--font-size-5xl);
    background-color: transparent;
    position: absolute;
    width: calc(100% - 50px);
    bottom: 0;
    left: 24px;
    color: var(--color-dimgray);
    text-align: left;
    display: inline-block;
  }
  .group-form {
    position: absolute;
    top: 3509px;
    right: 58px;
    width: 740px;
    height: 110px;
  }
  .group-child21 {
    position: absolute;
    width: 100%;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: var(--br-8xs);
    border: 2px solid var(--color-black);
    box-sizing: border-box;
    height: 51px;
  }
  .name11 {
    border: 0;
    font-family: var(--font-georgia);
    font-size: var(--font-size-5xl);
    background-color: transparent;
    position: absolute;
    width: calc(100% - 50px);
    top: 0;
    left: 26px;
    color: var(--color-dimgray);
    text-align: left;
    display: inline-block;
  }
  .rectangle-parent1 {
    position: absolute;
    top: 3519px;
    right: 58px;
    width: 740px;
    height: 112px;
  }
  .message {
    border: 0;
    font-family: var(--font-georgia);
    font-size: var(--font-size-5xl);
    background-color: transparent;
    position: absolute;
    height: calc(100% - 42px);
    width: calc(100% - 41px);
    top: 21px;
    left: 23px;
    color: var(--color-dimgray);
    text-align: left;
    display: inline-block;
  }
  .group-child22,
  .message-wrapper {
    position: absolute;
    box-sizing: border-box;
  }
  .message-wrapper {
    right: 58px;
    bottom: 587px;
    border-radius: var(--br-8xs);
    border: 2px solid var(--color-black);
    width: 740px;
    height: 246px;
  }
  .group-child22 {
    top: 0;
    left: 0;
    background-color: var(--color-darkgray-200);
    border: 1px solid var(--color-dimgray);
    width: 1920px;
    height: 83px;
  }
  .logo2 {
    position: absolute;
    top: 14px;
    left: 58px;
  }
  .icon-feather-shopping-cart2 {
    position: absolute;
    top: 14.33px;
    left: 1836.65px;
    width: 57.97px;
    height: 54.6px;
  }
  .path-1-icon20,
  .path-2-icon10 {
    position: absolute;
    top: 40.28px;
    left: 12.84px;
    width: 14.33px;
    height: 14.33px;
  }
  .path-2-icon10 {
    left: 42.64px;
  }
  .icon-feather-shopping-cart3,
  .path-3-icon2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 57.97px;
    height: 41.45px;
  }
  .icon-feather-shopping-cart3 {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    top: 14.33px;
    left: 1836.65px;
    height: 54.6px;
  }
  .icon-material-restaurant-menu2,
  .icon-material-restaurant-menu3 {
    position: absolute;
    top: 14.33px;
    left: 1749.2px;
    width: 57.79px;
    height: 54.88px;
  }
  .icon-material-restaurant-menu3 {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: var(--color-white);
  }
  .icon-material-home2,
  .icon-material-home3 {
    position: absolute;
    top: 14.33px;
    left: 1657.52px;
    width: 62.02px;
    height: 52.71px;
  }
  .icon-material-home3 {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: var(--color-white);
  }
  .rectangle-parent2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 1920px;
    height: 83px;
    color: var(--color-white);
  }
  .send {
    position: absolute;
    top: calc(50% - 18.5px);
    left: calc(50% - 41.5px);
    -webkit-text-stroke: 1px #707070;
  }
  .component-1-5,
  .restock-page2 {
    position: absolute;
    text-align: center;
  }
  .component-1-5 {
    bottom: 500px;
    left: 1122px;
    width: 315px;
    height: 67px;
    font-size: var(--font-size-13xl);
  }
  .restock-page2 {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    top: calc(50% + 24.13px);
    left: calc(50% - 84px);
    font-size: var(--font-size-5xl);
    font-weight: 700;
    font-family: var(--font-georgia);
    color: var(--color-white);
    display: inline-block;
  }
  .icon-awesome-facebook-square2,
  .icon-awesome-instagram2,
  .icon-awesome-twitter2 {
    text-decoration: none;
    position: absolute;
    top: calc(50% - 51.13px);
    left: calc(50% - 119.63px);
    background-color: var(--color-white);
    width: 54.44px;
    height: 54.43px;
  }
  .icon-awesome-facebook-square2,
  .icon-awesome-twitter2 {
    top: calc(50% - 49.16px);
    left: calc(50% + 57.45px);
    width: 62.18px;
    height: 50.5px;
  }
  .icon-awesome-facebook-square2 {
    top: calc(50% - 51.11px);
    left: calc(50% - 31.08px);
    width: 54.41px;
    height: 54.41px;
  }
  .restock-page-container {
    position: absolute;
    bottom: -2px;
    left: 0;
    background-color: var(--color-gray-100);
    border: 1px solid var(--color-dimgray);
    box-sizing: border-box;
    width: 1920px;
    height: 166px;
  }
  .home-page {
    position: relative;
    background-color: var(--color-white);
    width: 100%;
    height: 4484px;
    text-align: left;
    font-size: var(--font-size-29xl);
    color: var(--color-black);
    font-family: var(--font-georgia);
  }
  .admin-child {
    position: absolute;
    top: 259px;
    left: 310px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border: 10px solid var(--color-dimgray);
    box-sizing: border-box;
    width: 1301px;
    height: 583px;
  }
  .admin-password {
    border: 0;
    font-family: var(--font-georgia);
    font-size: var(--font-size-5xl);
    background-color: transparent;
    position: absolute;
    top: calc(50% - 13.5px);
    left: 30px;
    color: var(--color-dimgray);
    text-align: left;
  }
  .admin-password-wrapper,
  .component-4-1-child {
    border-radius: var(--br-8xs);
    box-sizing: border-box;
  }
  .admin-password-wrapper {
    position: absolute;
    top: 491px;
    left: 590px;
    background-color: var(--color-white);
    border: 2px solid var(--color-black);
    width: 740px;
    height: 51px;
  }
  .component-4-1-child {
    background-color: var(--color-darkgray-100);
    border: 2px solid var(--color-dimgray);
  }
  .component-4-1,
  .component-4-1-child {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .login {
    position: absolute;
    top: calc(50% - 18.5px);
    left: calc(50% - 47.5px);
    font-size: var(--font-size-13xl);
    font-family: var(--font-georgia);
    color: var(--color-black);
    text-align: center;
    -webkit-text-stroke: 1px #707070;
  }
  .component-1-6 {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    position: absolute;
    top: 562px;
    left: 857px;
    width: 206px;
    height: 47px;
  }
  .admin {
    position: relative;
    width: 1920px;
    height: 1100px;
    max-width: 90%;
    max-height: 90%;
    overflow: auto;
  }
  