.name12,
.restock,
.restock-amount {
  position: absolute;
  display: inline-block;
}
.restock {
  margin: 0;
  top: 128px;
  left: 720px;
  font-size: var(--font-size-45xl);
  font-weight: 700;
  font-family: inherit;
  text-align: center;
  width: 481px;
}
.name12,
.restock-amount {
  top: 272px;
  left: 184px;
  width: 316px;
}
.restock-amount {
  top: 236px;
  left: 1349px;
  width: 151px;
}
.quantity-in-stock {
  top: 236px;
  left: 888px;
  width: 146px;
}
.price-per-item,
.quantity-in-stock,
.subtotal1,
.total1 {
  position: absolute;
  display: inline-block;
}
.price-per-item {
  top: 236px;
  left: 1118px;
  width: 162px;
}
.subtotal1,
.total1 {
  width: 146px;
}
.subtotal1 {
  top: 272px;
  right: 233px;
}
.total1 {
  bottom: 185px;
  left: 1368px;
  text-align: right;
}
.child13,
.restock-page-child {
  position: absolute;
  box-sizing: border-box;
}
.restock-page-child {
  top: 315.5px;
  left: 174.5px;
  border-top: 3px solid var(--color-dimgray);
  width: 1568px;
  height: 6px;
}
.child13 {
  width: calc(100% - 220px);
  right: 204.5px;
  bottom: -2px;
  left: 15.5px;
  border-top: 2px solid var(--color-dimgray);
  height: 4px;
}
.x {
  height: calc(100% - 3px);
  top: 3px;
  left: 0;
  width: 126px;
}
.input8,
.x,
.xxxxxx8 {
  position: absolute;
  line-height: 32px;
  display: inline-block;
}
.input8 {
  border: 0;
  font-family: var(--font-georgia);
  font-size: var(--font-size-5xl);
  background-color: transparent;
  height: calc(100% - 17px);
  top: 0;
  left: calc(50% + 37px);
  color: var(--color-black);
  text-align: left;
  width: 131px;
}
.xxxxxx8 {
  height: calc(100% - 3px);
  top: 3px;
  right: -1px;
  width: 153px;
}
.child14 {
  position: absolute;
  top: 0;
  left: calc(50% + 27px);
  border-radius: var(--br-8xs);
  border: 2px solid var(--color-dimgray);
  box-sizing: border-box;
  width: 150px;
  height: 36px;
}
.path-2-icon11 {
  position: absolute;
  bottom: 4.5px;
  left: calc(50% - 13.5px);
  width: 0;
  height: 0;
}
.div35 {
  position: absolute;
  right: 21px;
  bottom: -2px;
  width: 806px;
  height: 53px;
}
.repeat-grid-38 {
  position: absolute;
  height: 100%;
  width: calc(100% - 228px);
  top: 0;
  right: 228px;
  bottom: 0;
  left: 0;
}
.xxxxxx9 {
  position: absolute;
  height: calc(100% - 3px);
  top: 0;
  right: -1px;
  line-height: 32px;
  display: inline-block;
  width: 153px;
}
.path-2-icon12 {
  position: absolute;
  bottom: 4.5px;
  left: calc(50% - 24px);
  width: 0;
  height: 0;
}
.div36,
.repeat-grid-5 {
  position: absolute;
  right: 0;
}
.div36 {
  bottom: -2px;
  width: 827px;
  height: 53px;
}
.repeat-grid-5 {
  height: 100%;
  width: calc(100% - 228px);
  top: 0;
  bottom: 0;
  left: 228px;
}
.title18 {
  position: absolute;
  top: calc(50% - 13.99px);
  left: 35px;
}
.div34 {
  top: -2.5px;
}
.div34,
.div37,
.div40,
.div43 {
  position: absolute;
  width: calc(100% + 220px);
  right: -203.5px;
  left: -16.5px;
  height: 71.02px;
}
.div37 {
  top: 74.5px;
}
.div40,
.div43 {
  top: calc(50% - 153.51px);
}
.div43 {
  top: calc(50% - 76.51px);
}
.div46 {
  top: calc(50% + 0.49px);
}
.div46,
.div49,
.div52,
.div55 {
  position: absolute;
  width: calc(100% + 220px);
  right: -203.5px;
  left: -16.5px;
  height: 71.02px;
}
.div49 {
  top: calc(50% + 77.49px);
}
.div52,
.div55 {
  bottom: 79.5px;
}
.div55 {
  bottom: 2.5px;
}
.repeat-grid-41,
.xxxxxxx1 {
  position: absolute;
  font-size: var(--font-size-5xl);
}
.repeat-grid-41 {
  top: 317.98px;
  left: 176.5px;
  width: 1567px;
  height: 610.02px;
}
.xxxxxxx1 {
  right: 229px;
  bottom: 189px;
  display: inline-block;
  width: 153px;
}
.component-1-4-item {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--color-darkgray-100);
  border: 2px solid var(--color-dimgray);
  box-sizing: border-box;
}
.restock-items {
  position: absolute;
  top: calc(50% - 18.5px);
  left: calc(50% - 116.5px);
  font-size: var(--font-size-13xl);
  font-family: var(--font-georgia);
  color: var(--color-black);
  text-align: center;
  -webkit-text-stroke: 1px #707070;
}
.component-1-41 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  right: 205px;
  bottom: 63px;
  width: 315px;
  height: 67px;
}
.group-child23 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-darkgray-200);
  border: 1px solid var(--color-dimgray);
  box-sizing: border-box;
  width: 1920px;
  height: 83px;
}
.logo3 {
  position: absolute;
  top: 14px;
  left: 58px;
}
.path-1-icon21,
.path-2-icon27 {
  position: absolute;
  top: 40.28px;
  left: 12.84px;
  width: 14.33px;
  height: 14.33px;
}
.path-2-icon27 {
  left: 42.64px;
}
.icon-feather-shopping-cart4,
.path-3-icon3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 57.97px;
  height: 41.45px;
}
.icon-feather-shopping-cart4 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 14.33px;
  left: 1836.65px;
  height: 54.6px;
}
.icon-material-home4,
.icon-material-restaurant-menu4 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-white);
  position: absolute;
  top: 14.33px;
  left: 1749.2px;
  width: 57.79px;
  height: 54.88px;
}
.icon-material-home4 {
  left: 1657.52px;
  width: 62.02px;
  height: 52.71px;
}
.rectangle-parent3 {
  position: absolute;
  top: -1px;
  left: 0;
  width: 1920px;
  height: 83px;
  font-size: var(--font-size-29xl);
  color: var(--color-white);
}
.restock-page3 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1175px;
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--color-black);
  font-family: var(--font-georgia);
}
